<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <meta property="og:title" content="Заголовок вашего контента" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="URL_изображения" />
    <meta property="og:url" content="URL_вашей_страницы" />
    <meta
      property="og:description"
      content="Краткое описание вашего контента"
    />
    <meta property="og:site_name" content="Название вашего сайта" />
    <meta property="og:locale" content="язык_страна" />

    <title>Revoldi</title>
    <link rel="icon" href="svg/letter-r-svgrepo-com.ico" sizes="any" />
    <link rel="icon" href="svg/letter-r-svgrepo-com.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="images/mobile-icon.png" />
  </head>
  <body>
    <header class="header" id="section_main">
      <nav class="header__menu">
        <ul class="header__menu__list">
          <li class="header__menu__list-item">
            <a href="#section_main">Главная</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_models">Модели</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_faq">Вопрос/Ответ</a>
          </li>
          <li class="header__menu__list-item">
            <a href="#section_contacts">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__content">
        <h1 class="header__title">revoldi</h1>
        <p class="header__description">
          Легкость стиля, надежность в каждом шаге
        </p>
        <a
          href="https://www.wildberries.ru/brands/37574462-REVOLDI?utm_source=vkentryprofit&click_id=v1_1053249462"
          target="_blank"
          class="button header__action-button"
        >
          <span class="button__text">купить на wildberries</span>
        </a>
      </div>
    </header>
    <main class="page">
      <section class="page__section">
        <h3 class="page__section-title">Сделай свой выбор</h3>
        <ul class="page__section-list places__list"></ul>
      </section>
      <section class="page__gallery-section">
        <h3 class="page__section-title">Познакомьтесь ближе</h3>
        <ul class="gallery">
          <li class="gallery-item-one">
            <img src="<%=require('../images/bag_close.jpeg')%>" alt="" class="gallery-image" />
          </li>
          <li class="gallery-item-two">
            <img src="<%=require('../images/bag_girl.jpeg')%>" alt="" class="gallery-image" />
          </li>
          <li class="gallery-item-three">
            <img
              src="<%=require('../images/bag_girl_tshirt.jpeg')%>"
              alt=""
              class="gallery-image"
            />
          </li>
          <li class="gallery-item-four">
            <img
              src="<%=require('../images/bag_close_hands.jpeg')%>"
              alt=""
              class="gallery-image"
            />
          </li>
        </ul>
        <a
          href="https://www.wildberries.ru/catalog/137716293/detail.aspx"
          target="_blank"
          class="button section__action-button"
        >
          <span class="button__text">купить на wildberries</span>
        </a>
      </section>
    </main>
    <div class="section__group">
      <section class="faq" id="section_faq">
        <h2 class="faq__title">Частые вопросы</h2>
        <details>
          <summary>Сколько карманов имеет сумка?</summary>
          <p class="faq__paragraph">
            Среди дополнительных отделов есть отделение для небольшого ноутбука
            или планшета с плотной стенкой, фиксация на липучке. С
            противоположной стороны есть карман на молнии и 2 маленьких открытых
            кармана для мелочей.
          </p>
        </details>
        <details>
          <summary>Сколько весит пуская сумка и какие у неё габариты?</summary>
          <p class="faq__paragraph">
            Ширина - 50см, глубина - 20см, высота - 30см. Длина плечевого ремня
            - 130см. Вес сумки -1200г. На дне сумке есть вставка, которая
            придает ей форму, но при этом ее можно без проблем свернуть.
          </p>
        </details>
      </section>
      <section class="page__product-reviews">
        <div class="up-section">
          <div class="page__product-reviews-rating">
            <p class="product-rating">4.9</p>
            <div class="star-box">
              <img src="<%= require('../images/star.png') %>" alt="" class="star-icon">
              <img src="<%= require('../images/star.png') %>" alt="" class="star-icon">
              <img src="<%= require('../images/star.png') %>" alt="" class="star-icon">
              <img src="<%= require('../images/star.png') %>" alt="" class="star-icon">
              <img src="<%= require('../images/star.png') %>" alt="" class="star-icon">
            </div>
          </div>
        </div>
        <p class="product-paragraph">3400+ отзывов</p>
        <div class="button-container">
          <a
            href="https://www.wildberries.ru/brands/37574462-REVOLDI?utm_source=vkentryprofit&click_id=v1_1053249462"
            target="_blank"
            class="section__rating-button"
            >перейти на wildberries</a
          >
        </div>
      </section>
      <footer class="footer" id="section_contacts">
        <h2 class="footer__title">revoldi</h2>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Меню</li>
          <li class="footer__menu-list-item">Главная</li>
          <li class="footer__menu-list-item">Модели</li>
          <li class="footer__menu-list-item">Вопрос/Ответ</li>
          <li class="footer__menu-list-item">Контакты</li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Информация</li>
          <li class="footer__menu-list-item">Условия возврата</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо/Ответ</li>
          <li class="footer__menu-list-item">Инфо</li>
        </ul>
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item bold">Контакты</li>
          <li class="footer__menu-list-item">Условия возврата</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо</li>
          <li class="footer__menu-list-item">Инфо</li>
        </ul>
        <ul class="footer__social-list">
          <li class="footer__menu-list-item bold">Мы есть здесь</li>
          <li class="footer__social-icon">Контакты</li>
          <li class="footer__social-icon">Условия возврата</li>
          <li class="footer__social-icon">Инфо</li>
        </ul>
      </footer>
      <p class="copy">&copy; 2023 SHILOV x REVOLDI</p>
    </div>

    <template id="card-template">
      <li class="cards-section__list-item places__item">
        <article class="card">
          <div class="card__top">
            <img src="" alt="" class="card__picture" />
          </div>
          <div class="card__bottom">
            <div class="card__description">
              <p class="card__category"></p>
              <p class="card__item-number"></p>
              <p class="card__item-description"></p>
            </div>
            <div class="card__buttons">
              <button class="card__button card__button-one"></button>
              <button class="card__button card__button-two"></button>
            </div>
          </div>
        </article>
      </li>
    </template>

  </body>
</html>
